<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<meta charset="UTF-8">
	<title>Spring Boot Sample DB add</title>
</head>
<body>
	<!-- タイトル表示 -->
	<h3>Customer Information</h3>
	<table>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Telno</th>
			</tr>
			<!-- DBから取得した情報を、ループ処理で表示 -->
			<tr th:each="cus : ${customerList}" th:object="${cus}">
				<td th:text="*{name}"></td>
				<td th:text="*{address}"></td>
				<td th:text="*{telno}"></td>
			</tr>
	</table>
	<!-- Additionボタン -->
	<form action="/addition">
		<button type="submit">Addition</button>
	</form>
</body>
</html>